## MAP ##
gateway=https://localhost:9090

mapPortNumber=9090
mapMasterName=map
sentinels=127.0.0.1:26000
maxConnections=1
languages=de_DE,en_US,it_IT,vi_VN,fr_FR,pt_BR,tr_TR,es_MX,zh_CN,cs_CZ,ja_JP,ru_RU,th_TH,es_ES,ko_KR,pl_PL,es_XL,ALL
redisPassword=Csc0R0cks!
timeCalc=true

url_application_prod=http://dt-localization-prod.cloudapps.cisco.com/loc/lpc/lpcs/api/applications
user_prod=dft-localization.gen
authentication_prod=Basic ZGZ0LWxvY2FsaXphdGlvbi5nZW46TDBjYTFpemF0MTBu
url_prod=http://dt-localization-prod.cloudapps.cisco.com/loc/lpc/lpcs/api/metering/measure



url_application_map=http://dt-localization-stage.cloudapps.cisco.com/loc/lpc/lpcs/api/applications
user_map=dft-localization.gen
authentication_map=Basic ZGZ0LWxvY2FsaXphdGlvbi5nZW46TDBjYTFpemF0MTBuTjBuUHJk
url_map=http://dt-localization-stage.cloudapps.cisco.com/loc/lpc/lpcs/api/metering/measure
